{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Who is with us?" %}</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead><tr>
        <th>{% trans "Objects" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "watch" %}</th>
      </tr></thead>
    <tbody>
      <tr><td>{% trans "Users" %}</td>
        <td>{{xusers}}</td>
<td>
        <a href="/land/show_users/">{% trans "who this is" %}</a>
</td>
      </tr>

      <tr><td>{% trans "Addresses" %}</td>
        <td>{{xaddr}}</td>
        <td>
<a href="/land/show_adr/">{% trans "where it is" %}</a>
        </td>
              </tr>

      <tr><td>{% trans "Events" %}</td>
        <td>{{xevents}}</td>
        <td>
<a href="/land/show_events/">{% trans "where it is" %}</a>
        </td>
              </tr>

              <tr><td>{% trans "Invitation" %}</td>
                <td>{{xinvites}}</td>
                <td>
        <a href="/land/show_events/">{% trans "where it is" %}</a>
                </td>
                      </tr>

      <tr><td>{% trans "Kids" %}</td>
        <td>{{xkids}}</td>
        <td>
<a href="/land/show_kids/">{% trans "where it is" %}</a>
        </td>
              </tr>

      <tr><td>{% trans "Places" %}</td>
        <td>{{xplaces}}</td>
        <td>
      <a href="/land/show_places/">{% trans "where it is" %}</a>
        </td>
              </tr>

      <tr><td>{% trans "Courses" %}</td>
        <td>{{xcrs}}</td>
        <td>
          <a href="/land/show_courses">{% trans "where it is" %}</a>
        </td>
              </tr>

        <tr><td>{% trans "Offers" %}</td>
          <td>{{xprop}}</td>
          <td>
<a href="/land/show_prop/">{% trans "where it is" %}</a>
          </td>
                </tr>

          <tr><td>{% trans "Requests" %}</td>
            <td>{{xclaim}}</td>
            <td>
<a href="/land/show_claims/">{% trans "where it is" %}</a>
            </td>
                  </tr>
                  <tr><td>{% trans "Subjects" %}</td>
                    <td>{{xsubj}}</td>
                    <td>
                <a href="/land/show_subj/">{% trans "what it is" %}</a>
                    </td>
                          </tr>


            <tr><td>{% trans "Reviews" %}</td>
              <td>{{xref}}</td>
              <td>
<a href="/land/good/">{% trans "how it is" %}</a>
              </td>
                    </tr>
    </tbody>
</table>
</div>
{% endblock %}
