{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Who is already with us" %}</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead><tr>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Date of birth" %}</th>
      </tr></thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>{{x.first_name}}</td>
        <td>
          <a href="/land/viewcab/{{x.username}}/">
          {{x.last_name}}
        </a>
        </td>
          <td>{{x.profile.birth_date}}</td>
                    </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
