{% load i18n %}
<script>
function show_hide(id,b01){
  var x = document.getElementById(id);
  if (b01==1) {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
};
var table = [];
table[0]=[0,0,0,0,0,0,0];
table[1]=[1,1,0,0,0,0,0];//kid
table[2]=[0,1,0,0,0,0,0];//place
table[3]=[1,1,1,0,0,0,0];//course
table[4]=[0,1,0,0,0,0,0];//claim_bs
table[5]=[1,1,1,0,0,0,0];//rp
table[6]=[0,0,1,0,0,0,0];//nw
table[7]=[1,1,1,1,0,0,0];//gt
table[8]=[1,1,0,1,0,0,0];//gd
table[9]=[0,1,0,0,0,0,0];//prop_bs
table[10]=[0,1,1,0,0,0,0];//rp
table[11]=[0,0,1,0,0,0,0];//nw
table[12]=[1,1,0,0,0,0,0];//friends
table[13]=[0,0,0,0,1,0,0];//nw
table[14]=[0,0,0,0,0,1,0];//friends
table[15]=[0,1,0,0,0,0,1];//friends

function show_hide_sel(){
  xsel = document.getElementById('look_var');
  i = xsel.selectedIndex;
  t = table[i];
  show_hide('form_age',t[0]);
  show_hide('form_time',t[1]);
  show_hide('form_subj',t[2]);
  show_hide('form_age1',t[3]);
  show_hide('form_uname',t[4]);
  show_hide('form_flname',t[5]);
  show_hide('d2form',t[6]);
};
</script>
<form method="post">
    {% csrf_token %}
    Искать
    <select id="look_var" name="look_var" onchange="show_hide_sel()">
      <option value="0">----------</option>
      <option value="kid">{% trans "kid" %}</option>
      <option value="place">{% trans "place" %}</option>
      <option value="course">{% trans "course" %}</option>
      <option value="claim_bs">{% trans "request (babysitter)" %}</option>
      <option value="claim_rp">{% trans "request (tutor)" %}</option>
      <option value="claim_nw">{% trans "request (net counselor)" %}</option>
      <option value="claim_gt">{% trans "request (target group)" %}</option>
      <option value="claim_gd">{% trans "request (development group)" %}</option>
      <option value="prop_bs">{% trans "offer (babysitter)" %}</option>
      <option value="prop_rp">{% trans "offer (tutor)" %}</option>
      <option value="prop_nw">{% trans "offer (net counselor)" %}</option>
      <option value="friends">{% trans "friends of interests" %}</option>
      <option value="uname">{% trans "participant by username" %}</option>
      <option value="flname">{% trans "participant by name" %}</option>
      <option value="event">{% trans "event" %}</option>
</select>
<br><br>
        <div id="form_age1">
          {{ form_age1.as_p }}</div>
        <div id="form_age">
          {{ form_age.as_p }}</div>
        <div id="form_time">
          {{ form_time.as_p }}</div>
        <div id="form_subj">
          {{ form_subj.as_p }}</div>
        <div id="form_uname">
          {{ form_uname.as_p }}</div>
        <div id="form_flname">
          {{ form_flname.as_p }}</div>
          <div id="d2form">
            {{ d2form.as_p }}</div>
    <input type="submit">
</form>
<script>
show_hide_sel();
</script>
