{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Результаты поиска</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Кто предлагает</th>
        <th>Имя</th>
        <th>Описание</th>
        <th>Минут пешком</th>
        <th>
<i class="fa fa-envelope"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.username}}/">
        {{x.username}}</a>
        </td>
        <td>
        {{x.first_name}}
        </td>
        <td>
          {{x.letter}}
        </td>
        <td>
          <a href="/land/map112/{{x.lat}}/{{x.lng}}/" title='посмотреть на карте'>{{x.time}}</a>
        </td>
        <td> <a href="/land/chat/prop/{{x.id}}/{{x.username.id}}/">
        <i class="fa fa-envelope"></i>
      </td></a>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
