{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Search results" %}</h2>
{% trans "Showing only those kids that can be reached on foot in a specified time (in minutes)" %}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Date of birth" %}</th>
        <th>{% trans "Some words about" %}</th>
        <th>{% trans "Minutes walking" %}</th>
        <th>
        <i class="fa fa-envelope"></i>
      </th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.parent}}/" title='{% trans "watch parents" %}'>
        {{x.first_name}}</a>
        </td>
        <td>
        <a href="/land/kid_show/{{x.id}}/" title='{% trans "watch kid" %}'>
        {{x.birth_date}}</a>
        </td>
        <td>
          {{x.letter}}
        </td>
        <td>
          <a href="/land/map112/{{x.lat}}/{{x.lng}}/" title='{% trans "watch on a map" %}'>{{x.time}}</a>
        </td>
        <td>
          <a href="/land/chat/kid/{{x.id}}/{{x.parent.id}}/"
        <i class="fa fa-envelope"></i>
      </a>
                </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
