{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Search results" %}</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Username" %}</th>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Follow" %}</th>
        <th>{% trans "Chat" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.username}}/" title='{% trans "watch account" %}'>
        {{x.username}}</a>
        </td>
        <td>
        {{x.first_name}}
        </td>
        <td>
          {{x.last_name}}
        </td>
        <td>
          <a href="/land/friend_up/{{x.id}}/" title='{% trans "follow" %}'>
              <i class="fa fa-eye"></i>
          </a>
        </td>
        <td>
          <a href="/land/chat/friend/0/{{x.id}}/" title='{% trans "start chat" %}'>
        <i class="fa fa-envelope"></i>
      </a>
                </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
