{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Результаты поиска</h2>
Показаны только те курсы, до которых можно дойти пешком за указанное время (в минутах)
<table class="table table-striped">
    <thead>
      <tr>
        <th>Кто ищет</th>
        <th>Описание</th>
        <th>
<i class="fa fa-envelope"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.user}}/">
        {{x.user}}</a>
        </td>
        <td>
          {{x.letter}}
        </td>
        <td> <a href="/land/chat/claim/{{x.id}}/{{x.user.id}}/">
        <i class="fa fa-envelope"></i>
      </td></a>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
