{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Результаты поиска</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Автор заявки</th>
        <th>Ученик/Ребенок</th>
        <th>Описание</th>
        <th>Минут пешком</th>
        <th>
<i class="fa fa-envelope"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.user}}/">
        {{x.user}}</a>
        </td>
        <td>
        <a href="/land/kid_show/{{x.kid_id}}/">
        {{x.name}}</a>
        </td>
        <td>
          {{x.letter}}
        </td>
        <td>
          <a href="/land/map112/{{x.lat}}/{{x.lng}}/" title='посмотреть на карте'>{{x.time}}</a>
        </td>
        <td> <a href="/land/chat/claim/{{x.id}}/{{x.user.id}}/">
        <i class="fa fa-envelope"></i>
      </td></a>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
