{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Search results" %}</h2>
{% trans "Showing only those courses that can be reached on foot in a specified time (in minutes)" %}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Who is searching" %}</th>
        <th>{% trans "Description" %}</th>
        <th>
<i class="fa fa-envelope"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.user}}/">
        {{x.user}}</a>
        </td>
        <td>
          {{x.letter}}
        </td>
        <td> <a href="/land/chat/claim/{{x.id}}/{{x.user.id}}/">
        <i class="fa fa-envelope"></i>
      </td></a>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
