{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Search results" %}</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Organiser" %}</th>
        <th>{% trans "Code" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Description" %}</th>
          <th>{% trans "Time" %}</th>
        <th>{% trans "Minutes" %} <br>
          {% trans "walking" %}</th>
        <th>
        Чат
      </th>
      <th>
  {% trans "invitation" %}
    </th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.user}}/" title='{% trans "organiser - personal info" %}'>
        {{x.user}}</a>
        </td>
        <td>
        <a href="/land/event_show/{{x.id}}/" title='{% trans "event description" %}'>
        {{x.code}}</a>
        </td>
        <td>
        {{x.name}}
        </td>
        <td>
          {{x.letter}}
        </td>
        <td>
          {{x.date_from}}<br>
          -{{x.date_to}}
        </td>
        <td>
          <a href="/land/map112/{{x.lat}}/{{x.lng}}/" title='{% trans "watch on a map" %}'>{{x.time}}</a>
        </td>
        <td><a href="/land/chat/show/{{x.id}}/{{x.user.id}}/">
        <i class="fa fa-envelope"></i>
        </a>
                </td>
      <td><a href="/land/invite_cre/{{x.id}}/">
      <i class="fa fa-address-card-o"></i>
      </a>
              </td>
    </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
