{% load i18n %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>eduber project by Jacob Feldman</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <style>
            #map
            {
                width: 100%;
                height: 500px;
            }
          </style>
          <script>
              var demo_position = {
                lat:59.93863, lng:30.31413
              }

            function setPosUp(pos){
              var element = document.getElementById('pos_up');
              element.textContent='посмотреть демо';//'lat:'+pos.lat+" lng:"+pos.lng;
              demo_position.lat = pos.lat;
              demo_position.lng = pos.lng;
            }


          </script>
  </head>

    <body>
{% include "footer.html" %}

    <div class="container">
 <div class="jumbotron">
    {% block content %}
    {% endblock content %}
    </div></div>

  {% include "user.html" %}

        </body>
    </html>
