{% load i18n %}
      <div class="container">
  <ul class="nav nav-pills nav-fill">


      <script>
        function demoHref(){
            var element = document.getElementById('demo_link');
            element.href = '/land/demo/'+demo_position.lat+'/'+demo_position.lng+'/';
        }
      </script>


        <li class="nav-item" id='demo_button'>
    <a href="#" class="btn btn-success" onclick='demoHref()'
    id="demo_link" title='посмотреть демо'>
    <span class="glyphicon glyphicon-ice-lolly" ></span>
    <span>Демо</span>
      <span class="glyphicon glyphicon-ice-lolly-tasted" ></span>
    </a>
  </li>

  <li class="nav-item">
<a href="/" class="btn btn-default"  title='на первую страницу'>
  <span class="glyphicon glyphicon-home"></span>
</a>
  </li>

  <li class="nav-item">
<a href="/land/in/" class="btn btn-default"  >
    <span>{{user}}</span>
  <span class="glyphicon glyphicon-log-in"></span>
</a>
</li>
<li class="nav-item">
<a href="/land/about/" class="btn btn-default"  >
  <span class="glyphicon glyphicon-question-sign"></span>
</a>
</li>
<li class="nav-item">
<a href="/accounts/logout/" class="btn btn-default"  >
  <span class="glyphicon glyphicon-log-out"></span>
</a>
</li>
</ul>
