{% load i18n %}
      <div class="container">
  <ul class="nav nav-pills nav-fill">

      <li class="nav-item">
    <a href="/" class="btn btn-default"  title='на первую страницу'>
      <span class="glyphicon glyphicon-home"></span>
    </a>
      </li>
      <script>
        function demoHref(){
            var element = document.getElementById('demo_link');
            element.href = '/land/demo/'+demo_position.lat+'/'+demo_position.lng+'/';
        }
      </script>


        <li class="nav-item" id='demo_button'>
    <a href="#" class="btn btn-default" onclick='demoHref()'
    title='нажмите чтобы посмотреть демо' id="demo_link">
      <span class="glyphicon glyphicon-ice-lolly-tasted" ></span>
      <span id='pos_up'>
    </span>
    </a>
  </li>
  <li class="nav-item" title='пока не работает'>
<a href="#" class="btn btn-default"  >
  Зарегистрироваться или войти
  <span class="glyphicon glyphicon-log-in"></span>
</a>
</li>
<li class="nav-item" title='пока не работает'>
<a href="#" class="btn btn-default"  >
  Вход для преподавателей
  <span class="glyphicon glyphicon-education"></span>
</a>
  </li>
</ul>
