{% load i18n %}
      <div class="container">
  <ul class="nav nav-pills nav-fill">






  <li class="nav-item">
<a href="/" class="btn btn-default"  title='на первую страницу'>
  <span class="glyphicon glyphicon-home"></span>
</a>
  </li>



<li class="nav-item">
<a href="/land/about/" class="btn btn-default"  title='о системе'>
  <span class="glyphicon glyphicon-question-sign"></span>
</a>
</li>

{% if user.is_authenticated %}
<li class="nav-item">
<a href="/land/obj/" class="btn btn-primary btn-default" title='мои объекты'>
  <span class="glyphicon glyphicon-user"></span>
  <span>{{user}}</span>
</a>
</li>

<li class="nav-item">
<a href="/land/reference/" class="btn btn-default" title="написать рекомендацию" >
<span class="glyphicon glyphicon-heart"></span>
</a>
</li>

<li class="nav-item">
<a href="/land/look/" class="btn btn-default"title='поиск' >
  <span class="glyphicon glyphicon-search"></span>
</a>
</li>

<li class="nav-item">
<a href="/accounts/logout/" class="btn btn-default"title='выйти из системы' >
  <span class="glyphicon glyphicon-log-out"></span>
</a>
</li>

{% if user.is_superuser %}
<li class="nav-item">
<a href="/land/q/" class="btn btn-primary btn-default" title="Очередь на статус">
  <span class="glyphicon glyphicon-wrench"></span>
</a>
</li>

<li class="nav-item">
<a href="/admin/" class="btn btn-primary btn-default" title="панель администратора">
  <span class="glyphicon glyphicon-king"></span>
</a>
</li>

<li class="nav-item">
<a href="/land/scan/" class="btn btn-primary btn-default" title="обзор базы">
  <span class="glyphicon glyphicon-tower"></span>
</a>
</li>
{% endif %}
{% else %}
<li class="nav-item">
<a href="/land/in/" class="btn btn-default"  >
  <span class="glyphicon glyphicon-log-in"></span>
</a>
</li>
{% endif %}

</ul>
