{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<p>
Я, <b>{{user}}</b>,
подтверждаю, что мои личные данные полны и верны
<a href="/land/profile/">
    <span> (проверить) </span>
</a>
</p>
{% if adm_all %}
<h2>
Сообщение от администратора всем участникам:
</h2>
<p>{{ adm_all }}</p>
{% endif %}
  <h2>Роли и Статусы</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Роль</th>
        <th>Запрос отправлен</th>
        <th>Статус получен</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Родитель</td>

        <td>{% if profile.ask_parent %}
          Да {% else %}
          Нет <a href="/land/ask/1/" title="отправить заявку">
           (отправить)</a>
          {% endif %} </td>

          <td>{% if profile.has_parent %}
            Да <a href="/land/obj/" title="приступить к работе">
               (приступить к работе)</a>
            {% else %}
            Нет {% endif %} </td>
      </tr>
      <tr>
        <td>Организатор</td>

        <td>{% if profile.ask_producer %}
          Да {% else %}
          Нет <a href="/land/ask/2/" title="отправить заявку">
           (отправить)</a>
          {% endif %} </td>

         <td>{% if profile.has_producer %}
           Да <a href="/land/obj/" title="приступить к работе">
              (приступить к работе)</a>
           {% else %} Нет {% endif %} </td>
      </tr>
      <tr>
        <td>Учитель</td>

        <td>{% if profile.ask_teacher %}
          Да {% else %}
          Нет <a href="/land/ask/3/" title="отправить заявку">
           (отправить)</a>
          {% endif %} </td>

          <td>{% if profile.has_teacher %}
            Да <a href="/land/obj/" title="приступить к работе">
               (приступить к работе)</a>
            {% else %} Нет {% endif %} </td>
      </tr>
    </tbody>
  </table>

{% if adm %}
<h3>Сообщение от администратора вам лично:</h3>
 <p>{{ adm }}</p>
{% endif %}
 Вопросы администратору можно задать по почте jfeldman777@gmail.com - в теме письма укажите #EdUber

{% else %}
<h3><a href="/signup/">
  Зарегистрироваться в системе</a></h3>

<h2>Дорогие родители!</h2>
<p>С помощью нашего сайта <br>
  вы сможете подобрать для своего ребенка <br>
   образовательные и развивающие кружки рядом с вашим домом<br>
   найти беби-ситтера и репетитора в шаговой доступности<br>
<a href="/land/demo1/">Посмотреть демонстрацию</a></p>

<h2>Уважаемые организаторы образования!</h2>
<p>
С помощью нашего сайта <br>
вы сможете развивать и поддерживать <br>
сеть неформального образования шаговой доступности<br>
<a href="/land/demo2/">Посмотреть демонстрацию</a>
</p>

<h2>Уважаемые педагоги!</h2>
<p>С помощью нашего сайта<br>
   вы сможете подобрать группу детей живущих рядом<br>
   и площадку для коллективных занятий
        <br>
      устроиться беби-ситтером и репетитором в шаговой доступности<br>
    <a href="/land/demo3/">Посмотреть демонстрацию</a>
  </p>

<h3><a href="/signup/">
  Зарегистрироваться в системе</a>
</h3>
{% endif %}
{% endblock %}
