{% load i18n %}
<h3><a href="/signup/">
  Зарегистрироваться в системе</a></h3>

<h2>Дорогие родители!</h2>
<p>С помощью нашего сайта <br>
  вы сможете подобрать для своего ребенка <br>
   образовательные и развивающие кружки рядом с вашим домом<br>
   найти беби-ситтера и репетитора в шаговой доступности и по сети<br>
<a href="/land/demo1/">Посмотреть демонстрацию</a></p>

<h2>Уважаемые организаторы образования!</h2>
<p>
С помощью нашего сайта <br>
вы сможете развивать и поддерживать <br>
сеть неформального образования шаговой доступности<br>
<a href="/land/demo2/">Посмотреть демонстрацию</a>
</p>

<h2>Уважаемые педагоги!</h2>
<p>С помощью нашего сайта<br>
   вы сможете подобрать группу детей живущих рядом<br>
   и площадку для коллективных занятий
        <br>
      устроиться беби-ситтером и репетитором в шаговой доступности  и по сети<br>
    <a href="/land/demo3/">Посмотреть демонстрацию</a>
  </p>

<h3><a href="/signup/">
  Зарегистрироваться в системе</a>
</h3>
