{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <a href="/land/tst/">описание проекта - что, где, как, зачем, для чего</a>
{% if user.is_authenticated %}
<p>
Я, <b>{{user}}</b>,
подтверждаю, что мои личные данные полны и верны
<a href="/land/profile/">
    <span> (проверить) </span>
</a>
</p>
{% if adm_all %}
<h2>
Сообщение от администратора всем участникам:
</h2>
<p>{{ adm_all }}</p>
{% endif %}
  <h2>Роли и Статусы</h2>

<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Роль</th>
          <th>Создает объекты</th>
        <th>Запрос отправлен</th>
        <th>Статус получен</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Родитель</td>
        <td>дети и заявки</td>

        <td>{% if profile.ask_parent %}
          Да {% else %}
          Нет <a href="/land/ask/1/" title="отправить заявку">
           (отправить)</a>
          {% endif %} </td>

          <td>{% if profile.has_parent %}
            Да <a href="/land/obj/" title="приступить к работе">
               (приступить к работе)</a>
            {% else %}
            Нет {% endif %} </td>
      </tr>
      <tr>
        <td>Организатор </td>
        <td>
          площадки</td>
        <td>{% if profile.ask_producer %}
          Да {% else %}
          Нет <a href="/land/ask/2/" title="отправить заявку">
           (отправить)</a>
          {% endif %} </td>

         <td>{% if profile.has_producer %}
           Да <a href="/land/obj/" title="приступить к работе">
              (приступить к работе)</a>
           {% else %} Нет {% endif %} </td>
      </tr>
      <tr>
        <td>Учитель </td>
        <td>курсы и предложения</td>
        <td>{% if profile.ask_teacher %}
          Да {% else %}
          Нет <a href="/land/ask/3/" title="отправить заявку">
           (отправить)</a>
          {% endif %} </td>

          <td>{% if profile.has_teacher %}
            Да <a href="/land/obj/" title="приступить к работе">
               (приступить к работе)</a>
            {% else %} Нет {% endif %} </td>
      </tr>
    </tbody>
  </table>

</div>

{% if adm %}
<h3>Сообщение от администратора вам лично:</h3>
 <p>{{ adm }}</p>
{% endif %}
 Вопросы администратору можно задать по почте jfeldman777@gmail.com - в теме письма укажите #EdUber

{% else %}

{% include "index_demo.html" %}

{% endif %}
{% endblock %}
