{% extends "base.html" %}
{% load i18n %}

{% block content %}
Дорогие родители!
<br>
<br>
С помощью нашего сайта
<br>
вы сможете найти для своего ребенка друзей-сверстников,
<br>
с которыми ему будет интересно учиться, познавать мир,
<br>
играть, заниматься творчеством и совместными проектами.
<br>
<br>
Для начала
<br>
укажите свое местоположение,
<br>
чтобы мы могли начать поиск с тех, кто живет рядом с вами.
<br>
<br>
Это можно сделать двумя способами<br>
<a href="/land/map/"> перетащите маркер в нужную точку карты </a>
<br>
 или <br>
<a href="/land/gps/"> разрешите геолокацию </a> (иногда браузер геолокацию блокирует)
<br>

<br>
После этого можно посмотреть демо (кнопка вверху).
{% endblock %}
