{% extends "base.html" %}
{% load i18n %}
{% load embed_video_tags %}

{% block content %}
  
  {% get_current_language as LANGUAGE_CODE %}

    

      <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="text" value="{{ redirect_to }}">
    <select name="language" id="">
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
          <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
      {% endfor %}
    </select>

    <input type="submit" value="Go">

  </form>

  <a href="/land/allabout/">= {% trans "EdUber project description" %} =</a>
{% if user.is_authenticated %}
<br>
<a href="/land/profile/">= {% trans "My account" %} =</a>
<br>
{% if adm_all %}

  <button class="accordion"><b>+ {% trans "Messages from administrator" %}</b></button>
  <div class="panel">
    <b>
   {% trans "For all participants" %}:
 </b>
    {{ adm_all }}
<br>
{% if profile.adm_comment %}
<b>
{% trans "To you personally" %}:
</b>
{{ profile.adm_comment }}
{% endif %}
</div>
{% endif %}

<button class="accordion"><b>+ {% trans "What I think" %}</b></button>
<div class="panel">
{{ profile.letter }}<br>
<a href="/land/myletter/">{% trans "Change" %}</a>
</div>

  <button class="accordion"><b>+ {% trans "Following" %}</b></button>
  <div class="panel">
{% for x in profile.friends.all %}
<a href="/land/viewcab/{{x.username}}/" title='{% trans "My account" %}'>
<b>{{x.username}}:</b>
</a>
{{x.profile.letter}}

<a href="/land/friend_down/{{x.id}}/" title='{% trans "remove" %}'>
  <i class="fa fa-arrow-circle-down"></i>
</a>
{{x.last_login}}
<a href="/land/chat/friend/0/{{x.id}}/" title='{% trans "Send a message" %}'>
<i class="fa fa-envelope"></i>
</a>
<br>

{% endfor %}
</div>

<button class="accordion"><b>+ {% trans "My followers" %}</b></button>
<div class="panel">
  {% for x in iamwatched %}
  <a href="/land/viewcab/{{x.user.username}}/" title='{% trans "see my account" %}'>
  <b>{{x.user.username}}:</b>
</a>
  <a href="/land/friend_up/{{x.user.id}}/" title='{% trans "start following" %}'>
    <i class="fa fa-arrow-circle-up"></i>
  </a><br>
  {% endfor %}
</div>

  <button class="accordion"><b>+ {% trans "Roles" %}</b></button>
  <div class="panel">

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Role" %}</th>
          <th>{% trans "Create objects" %}</th>
        <th>{% trans "Request sent" %}</th>
        <th>{% trans "Role received" %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{% trans "Parent" %}</td>
        <td>{% trans "Kids and requests" %}</td>

        <td>{% if profile.ask_parent %}
          {% trans "Yes" %} {% else %}
          {% trans "No" %} <a href="/land/ask/1/" title='{% trans "send request" %}'>
           ({% trans "send" %})</a>
          {% endif %} </td>

          <td>{% if profile.has_parent %}
            {% trans "Yes" %} <a href="/land/obj/" title='{% trans "start working" %}'>
               ({% trans "start working" %})</a>
            {% else %}
            {% trans "No" %} {% endif %} </td>
      </tr>
      <tr>
        <td>{% trans "Student/amateur" %}</td>
        <td>{% trans "interests and requests" %}</td>

        <td>{% if profile.ask_justme %}
          {% trans "Yes" %} {% else %}
          {% trans "No" %} <a href="/land/ask/4/" title='{% trans "send request" %}'>
           ({% trans "send" %})</a>
          {% endif %} </td>

          <td>{% if profile.has_justme %}
            Да <a href="/land/obj/" title='{% trans "start working" %}'>
               ({% trans "start working" %})</a>
            {% else %}
            {% trans "No" %} {% endif %} </td>
      </tr>
      <tr>
        <td>{% trans "Organiser" %} </td>
        <td>
          {% trans "places" %}</td>
        <td>{% if profile.ask_producer %}
          {% trans "Yes" %} {% else %}
          {% trans "No" %} <a href="/land/ask/2/" title='{% trans "send request" %}'>
           ({% trans "send" %})</a>
          {% endif %} </td>

         <td>{% if profile.has_producer %}
           {% trans "Yes" %} <a href="/land/obj/" title='{% trans "start working" %}'>
              ({% trans "start working" %})</a>
           {% else %} {% trans "No" %} {% endif %} </td>
      </tr>
      <tr>
        <td> {% trans "Teacher" %} </td>
        <td>{% trans "courses and offers" %}</td>
        <td>{% if profile.ask_teacher %}
          {% trans "Yes" %} {% else %}
          {% trans "No" %} <a href="/land/ask/3/" title='{% trans "send request" %}'>
           ({% trans "send" %})</a>
          {% endif %} </td>

          <td>{% if profile.has_teacher %}
            {% trans "Yes" %} <a href="/land/obj/" title='{% trans "start working" %}'>
               ({% trans "start working" %})</a>
            {% else %} {% trans "No" %} {% endif %} </td>
      </tr>
    </tbody>
  </table>

</div>
  </div>

  <button class="accordion"><b>+ {% trans "Functions" %}</b></button>
  <div class="panel">
  <ol>
        <li>
        <a href="/land/allabout/">{% trans "System description - what, where, how, why, for what" %}</a>
        </li>

  <li>
  <a href="/">{% trans "Home" %}</a>
  </li>
    <li>
    <a href="/land/good/">{% trans "Reviews" %}</a>
  </li>
      <li>
      <a href="/land/about/">{% trans "About author" %}</a>
    </li>
        <li>
        <a href="/land/obj/">{% trans "My objects" %}</a>
      </li>

            <li>
            <a href="/land/search/">{% trans "Search all" %}</a>
          </li>
                <li>
                <a href="/land/profile/">{% trans "My account" %}</a>
              </li>
              <li>
              <a href="/land/chat2me/">{% trans "Messages" %}</a>
            </li>

            <li>
            <a href="/accounts/logout/">{% trans "Log out" %}</a>
          </li>
          <li>
          <a href="/land/scan/">{% trans "System review" %}</a>
        </li>
  </ol>
</div>
 <a href="/land/about/">= {% trans "Questions to the administrator" %} =</a>

{% else %}
<br>
{% video 'https://youtu.be/nsOE_iNELPs' 'medium' %}

<br>
  <a href="https://brain-mapper.herokuapp.com">= {% trans "go to project Brain-mapper" %} =</a>
{% include "tst1.html" %}
{% endif %}
<a href='http://hbtjournal.com' target='JF'>{% trans "all information about me - J.F." %}</a>
{% endblock %}
