{% extends "base.html" %}
{% load i18n %}

{% block content %}
Здесь вы можете указать свое местоположение перетащив маркер в нужную точку карты

<div id="map">

</div>

<script>
      function initMap(){
          var element = document.getElementById('map');
          var options = {
              zoom:12,
              center:{
                lat:59.93863, lng:30.31413
              }
          };

          var myMap = new google.maps.Map(element,options);

        //myMap.addListener('click',
        //  function(e){
        //        alert(e.latLng);
        //  }
        //)

          var marker = new google.maps.Marker(
              {
                position:{
                    lat:59.93863, lng:30.31413
                },
                map: myMap,
                draggable: true,
                title: 'перетащите туда где живете'
              }
          );

          marker.addListener('drag',
            function(){
              var position = this.getPosition();
              var pos = {
                lat: position.lat(),
                lng: position.lng(),
              };

              setPosUp(pos);
            }
        );

          var infoWindow = new google.maps.InfoWindow(
            {
              content: '<b>Я живу здесь</b>'
            }
          );



      }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjST-98VH5P3tlhqSDwRgCwNnaCxH0f8o&callback=initMap">
  </script>


{% endblock %}
