{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>
Все функции (меню)
</h2>
<ol>
<li>
<a href="/">На первую страницу</a>
</li>
  <li>
  <a href="/land/good/">Отзывы</a>
</li>
    <li>
    <a href="/land/about/">О системе</a>
  </li>
      <li>
      <a href="/land/obj/">Мои объекты</a>
    </li>
        <li>
        <a href="/land/look2/">Искать площадки</a>
      </li>
          <li>
          <a href="/land/look3/">Искать детей</a>
        </li>
            <li>
            <a href="/land/look/">Искать курсы</a>
          </li>
              <li>
              <a href="/land/profile/">Личный кабинет</a>
            </li>
              <li>
              <a href="/land/reference/">Написать рекомендацию другу</a>
            </li>
            <li>
            <a href="/land/search/">Искать все</a>
          </li>
          <li>
          <a href="/accounts/logout/">Выйти из системы</a>
        </li>
        <li>
        <a href="/land/scan/">Обзор базы</a>
      </li>
</ol>
{% endblock %}
