{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>
Все функции (меню)
</h2>
<ol>
      <li>
      <a href="/land/tst/">описание системы - что, где, как, зачем, для чего</a>
      </li>

<li>
<a href="/">На первую страницу</a>
</li>
  <li>
  <a href="/land/good/">Отзывы</a>
</li>
    <li>
    <a href="/land/about/">Об авторе</a>
  </li>
      <li>
      <a href="/land/obj/">Мои объекты</a>
    </li>

          <li>
          <a href="/land/search/">Искать все</a>
        </li>
              <li>
              <a href="/land/profile/">Личный кабинет</a>
            </li>
            <li>
            <a href="/land/chat2me/">Сообщения</a>
          </li>

          <li>
          <a href="/accounts/logout/">Выйти из системы</a>
        </li>
        <li>
        <a href="/land/scan/">Обзор базы</a>
      </li>
</ol>
{% endblock %}
