{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>
Концепция
</h2>
<b> Главная идея</b>: система образования неизлечимо больна и, не дожидаясь пока она умрет
 естественной смертью, надо создавать иную систему, на иных принципах.
 <b> Что такое система образования ?</b> Это люди плюс инфраструктура.
 Неизлечимо больна именно <b>инфраструктура</b>. Ее можно сравнить со скелетом.
 Нужно создать иную инфраструктуру - <b>экзоскелет</b> - и в тот момент когда он заработает
 люди из старой системы уйдут - <b>проголосуют ногами</b>.<br><br>
 Старая инфраструктура - это <b>три функции</b> - и соответствующие им <b>социальные институты</b>
 <ul>
<li><b>Содержание</b> - что учить - его держит <b>школа</b></li>
<li><b>Сценарии поведения</b> - надо идти в школу - их держит <b>семья</b></li>
<li><b>Давление</b> - кто не ходит в школу, тот будет наказан - это <b>государство</b></li>
 </ul>

 <br>Новая инфраструктура - это <b>три проекта</b>

<ul>
<li><b>Итегратор содержания</b> - <a href="https://sky-school.herokuapp.com">Sky-School</a></li>
<li><b>Усилитель семейной педагогики</b> - <a href="http://eduber.herokuapp.com">edUber</a> (ВЫ НАХОДИТЕСЬ ЗДЕСЬ) </li>
<li><b>Тесты для самоопределения</b> - <a href="#">Quizard</a> (пока на бумаге)</li>
</ul>
</div>
 <div class="jumbotron">
   <h2>
Как это работает
   </h2>
Если вы
<ul>
<li>озабочены образованием ваших детей (внуков) или</li>
<li>учитель в поисках учеников или</li>
<li>профессиональный организатор образования</li>
</ul>
вам стоит воспользоваться нашей системой. <br>
Что для этого нужно?
<ul>
<li>Зарегистриорваться</li>
<li>Заполнить профиль</li>
<li>Запросить у администратора статус и получить его</li>
<li>Начать работу</li>
</ul>
<h3>Вопросы и ответы</h3>
<b>Вопрос</b>. Что такое статус и как его получить? <b>Ответ</b>. В системе существуют три роли
<ul>
<li>Родитель</li>
<li>Учитель</li>
<li>Организатор</li>
</ul>
Если вы попросили роль и получили ее, то она превращается в ВАШ СТАТУС.
Каждый статус дает вам право создавать определенные <b>объекты</b> (смотри ниже)
и использовать их в дальнейшей работе.<br><br>
<b>Вопрос</b> Где можно запросить статус? <b>Ответ</b> С первой страницы сайта ПОСЛЕ регистрации и входа в систему с паролем.
<br><br>
<b>Вопрос</b> А может администратор не дать статус? Когда такое бывает?
<b>Ответ</b> Заполните профиль, загрузите фото. Пока этого нет, администратор скорее всего откажет -
и напишет вам персональное об этом сообщение.
Есть некоторая вероятность, что администратор давно не заходил на сайт - если нет статуса и нет сообщения -
 напишите администратору на почту <b>jfeldman777@gmail.com</b> - в теме письма укажите <b>#edUber</b>.

</div>
 <div class="jumbotron">
<h3>Объекты</h3>
Ваши объекты можно посмотреть-изменить-создать-удалить со страницы ОБЪЕКТЫ на которую можно выйти с помощью кнопки
<button class="btn btn-primary"><i class="fa fa-delicious"></i></button>
Типы доступных объектов зависят от вашего статуса.
 Все пользователи могут создавать <b>адреса</b>. Родители  могут создавать <b>детей и заявки</b>.
 Организаторы могут создавать <b>пощадки</b>. Учителя могут создавать
<b>курсы и предложения</b>
 </div>
  <div class="jumbotron">
<h3>Поиск</h3>
На эту страницу можно выйти с помощью кнопки
    <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
    Здесь ищут
    <ul>
<li>детей (возраст, адрес - недалеко от)</li>
<li>площадки (адрес - недалеко от)</li>
<li>курсы (предмет, возраст, адрес)</li>
<li>заявки (предмет, возраст, адрес)</li>
<li>предложения (предмет, возраст, адрес)</li>
    </ul>

Заявки бывают пяти типов (что люди ищут - нужен)
<ul>
  <li>беби-ситтер</li>
  <li>репетитор</li>
  <li>консультант по сети</li>
<li>группа целевая (например, подготовка к ЕГЭ)</li>
<li>группа общего развития</li>
</ul>

Предложения бывают трех типов (что люди предлагают - могу быть)
<ul>
<li>беби-ситтер</li>
<li>репетитор</li>
<li>консультант по сети</li>
</ul>

Прежде чем искать, рекомендую установить ваши предпочтения для данного поиска (ребенок, адрес).
Некотоые виды поиска без этого не работают.
 </div>
  <div class="jumbotron">
<h3>Меню</h3>
На эту страницу можно выйти с помощью кнопки
    <button class="btn btn-danger"><i class="fa fa-empire"></i></button>
На этой странице перечислены все функции системы в том же порядке,
в котором они доступны с помощью кнопок наверху и внизу страницы.

</div>
 <div class="jumbotron">
<h3>Чаты и отзывы</h3>
Если вы нашли интересующий вас объект (ребенка, площадку, курс, предложение, заявку)
 вы можете запустить чат с хозяином этого объекта (родителейм, организаторомЮ учителем).
 Для этого в результатах поиска есть в правом крайнем столбце значок
     <i class="fa fa-envelope"></i>. Кроме того вы можете из этой же строки результата выйти на
     <ul>
     <li>личный кабинет хозяина</li>
     <li>описание объекта</li>
     <li>место объекта на карте</li>
     </ul>
Все ваши чаты можно увидеть (и продолжить) по кнопке
    <button class="btn btn-secondary"><i class="fa fa-envelope"></i></button> .<br>
В кабинете хозяина можно написать на него отзыв - и увидеть все отзывы которые на него написал кто-то другой.<br>
По кнопке
    <button class="btn btn-secondary"><i class="fa fa-heart-o"></i></button>
    можно увидеть все отзывы на систему в целом - и написать отзыв самому.
  </div>
   <div class="jumbotron">
     <h3>Другие кнопки</h3>
         <button class="btn btn-primary"><i class="fa fa-sign-out"></i></button> - выйти из системы.
             <button class="btn btn-primary"><i class="fa fa-sign-in"></i></button> - войти в систему.
             <button class="btn btn-primary"><i class="fa fa-user"></i>
         <span>Ваш юзернейм</span>
       </button> - личный кабинет.<br>
       Кстати, в личном кабинете можно <b>сменить пароль</b>.<br>
       Кнопка     <button class="btn btn-dark"><i class="fa fa-bullseye"></i></button>
        позволяет увидеть наполненность системы (пользователи, объекты)

{% endblock %}
