{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>
Страница для тех, кто участвует в добровольном тестировании
</h2>
<ol>
<li>
<a href="https://goo.gl/forms/Hp9xSP4Lryni4aD53" target="tst">Первая трасса (общая)</a>
</li>
<li>
<a href="https://goo.gl/forms/kWS13qhdlysDGbFF3"  target="tst">Трасса РОДИТЕЛЬ</a>
</li>
<li>
<a href="https://goo.gl/forms/HT57Nu3eCxJI7oTB3"  target="tst">Трасса УЧИТЕЛЬ</a>
</li>
<li>
<a href="https://goo.gl/forms/WjSps5mrdQaVPAZs1"  target="tst">Трасса ОРГАНИЗАТОР</a>
</li>
</ol>
<h3>Внимание всем участникам</h3>
По каждой ссылке открывается гугло-форма,<br>
 в которой вместо вопросов - инструкции.<br>
Выполните инструкции и вместо ответов впишите
 что у вас получилось<br>
  (например "все работает" или "не удалось создать объект, получил сообщение ...")
<h3>Спасибо, чты вы с нами.</h3>
{% endblock %}
