{% extends "base.html" %}
{% load i18n %}

{% block content %}

<button class="accordion"><b>+ {% trans "Sent messages:" %}</b></button>
<div class="panel">

<ul>
{% for q,w in qs_from_me %}
<li>

{{ q.person_to }}|<a href="/land/chat2see/{{q.id}}/">
{{ q.subject }}-{{ q.obj_id }}  </a>
|{{q.started}}-{{w}}

</li>
{% endfor %}
</ul>
</div>

<button class="accordion"><b>+ {% trans "My messages:" %}</b></button>
<div class="panel">

<ul>
{% for q,w in qs_to_me %}
<li>

{{ q.person_from }}|<a href="/land/chat2see/{{q.id}}/">
{{ q.subject }}-{{ q.obj_id }}  </a>
|{{q.started}}-{{w}}

</li>
{% endfor %}
</ul>

</div>
{% endblock %}
