{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}
<button class="accordion"><b>+ Оставить отзыв</b></button>
<div class="panel">

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
Внимание! Исправить нельзя, удалить нельзя   <br>
    <input type="submit">
</form>

</div>
{% endif %}
<button class="accordion"><b>+ Последние отзывы</b></button>
<div class="panel">

<ul>
{% for x in qs %}
<li>
<p>{{x.letter}}</p>оставил
<a href="/land/viewcab/{{x.person_from.username}}/">
 {{x.person_from}}
</a>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
