{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}
<button class="accordion"><b>+ {% trans "Leave review" %}</b></button>
<div class="panel">

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
{% trans "Attention! Cannot change or delete" %}   <br>
    <input type="submit">
</form>

</div>
{% endif %}
<button class="accordion"><b>+ {% trans "Last reviews" %}</b></button>
<div class="panel">

<ul>
{% for x in qs %}
<li>
<p>{{x.letter}}</p>{% trans "has left" %}
<a href="/land/viewcab/{{x.person_from.username}}/">
 {{x.person_from}}
</a>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
