{% extends "base.html" %}
{% block content %}
Узнать время пешего перехода между двумя точками на карте (в минутах)
<div id="map">
</div>
<script>
var lopos = [{{ lopos }}];
var markers = [];
var xlat = 60.0567;
var xlng = 30.3332;

      function initMap(){
          var element = document.getElementById('map');
          var options = {
              zoom:8,
              center:{
                lat:xlat,
                lng:xlng
              }
          };

        var myMap = new google.maps.Map(element,options);
        for (i=0;i<lopos.length;i++){
                markers[i] = new google.maps.Marker(
                    {
                      position:{
                          lat:lopos[i][0],
                          lng:lopos[i][1]
                      },
                      map: myMap,
                    }
                );
          };

}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjST-98VH5P3tlhqSDwRgCwNnaCxH0f8o&callback=initMap">
  </script>


{% endblock %}
