{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Результаты поиска</h2>
Показаны только те площадки, до которых можно дойти пешком за указанное время (в минутах)
<table class="table table-striped">
    <thead>
      <tr>
        <th>Организатор</th>
        <th>Код</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Минут пешком</th>
        <th>
        <i class="fa fa-envelope"></i>
      </th>
      </tr>
    </thead>
    <tbody>
      {% for x in qs %}
      <tr>
        <td>
          <a href="/land/viewcab/{{x.user}}/" title='организатор - личные данные'>
        {{x.user}}</a>
        </td>
        <td>
        <a href="/land/place3/{{x.id}}/" title='описание площадки'>
        {{x.code}}</a>
        </td>
        <td><a href="{{x.web}}" target='website' title='website'>
        {{x.name}}</a>
        </td>
        <td>
          {{x.letter}}
        </td>
        <td>
          <a href="/land/map112/{{x.lat}}/{{x.lng}}/" title='посмотреть на карте'>{{x.time}}</a>
        </td>
        <td><a href="/land/place9/{{x.id}}/">
        <i class="fa fa-envelope"></i>
        </a>
                </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
